.div2 {
    height: 400px;
    width: 300px;
    border: 5px solid black;
    background-color: white;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 50px;
    float: right;
}